#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  background: #202020;
  padding: 1em;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  z-index: 1000;
}

.page{
  margin-top: -25px;
  padding: 1rem;
}